<!-- Button to Open the Modal -->


<!-- The Modal -->
<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close"  (click)="modalhide()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Your order booked successfully
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modalhide()">Close</button>
      </div>

    </div>
  </div>
</div>
